---
import Page from '../../../../../layouts/Page.astro';
---
<Page title="Twitter Tools Check">
  <h2>Twitter Tools Check</h2>
  <coming-soon></coming-soon>
</Page>
<script>
  import '../../../../../components/lit/ComingSoon.js';
</script>
