---
import Page from '../../../../../layouts/Page.astro';
---
<Page title="Weeknummer op jouw website">
  <h2>Weeknummer op jouw website</h2>
  <p>Wil je het weeknummer op je eigen website tonen? Kopieer de volgende code en plak deze in je HTML pagina:</p>
  <pre><code>&lt;iframe src="https://www.datkanikzelf.nl/handig/2008/06/huidig_weeknummer/" width="300" height="400" frameborder="0"&gt;&lt;/iframe&gt;</code></pre>
</Page>
