---
import Page from '../../../../../layouts/Page.astro';
---
<Page title="Internet Klembord">
  <h2>Internet Klembord</h2>
  <coming-soon></coming-soon>
</Page>
<script>
  import '../../../../../components/lit/ComingSoon.js';
</script>
