---
import Page from '../../../../layouts/Page.astro';
---
<Page title="Feestdagen 2014">
  <h2>Feestdagen overzicht 2014</h2>
  <p>Koningsdag, carnaval, moederdag: mis dit jaar geen enkele feestdag! Hier vind je een <strong>overzicht</strong> van alle <strong>feestdagen van 2014</strong></p>
  <h3>Feestdagen van 2014</h3>
  <ul>
    <li>Nieuwjaarsdag 2014 - woensdag 1 januari 2014</li>
    <li>Valentijnsdag 2014 - vrijdag 14 februari 2014</li>
    <li>Carnaval 2014 - zondag 2 maart 2014</li>
    <li>Goede vrijdag 2014 - vrijdag 18 april 2014</li>
    <li>1e Paasdag 2014 - zondag 20 april 2014</li>
    <li>2e Paasdag 2014 - maandag 21 april 2014</li>
    <li>Koninginnedag 2014 - woensdag 30 april 2014</li>
    <li>Bevrijdingsdag 2014 - maandag 5 mei 2014</li>
    <li>Moederdag 2014 - zondag 11 mei 2014</li>
    <li>Hemelvaartsdag 2014 - donderdag 29 mei 2014</li>
    <li>1e Pinksterdag 2014 - zondag 8 juni 2014</li>
    <li>2e Pinksterdag 2014 - maandag 9 juni 2014</li>
    <li>Vaderdag 2014 - zondag 15 juni 2014</li>
    <li>Dierendag 2014 - zaterdag 4 oktober 2014</li>
    <li>Sint Maarten 2014 - dinsdag 11 november 2014</li>
    <li>Sinterklaas 2014 - vrijdag 5 december 2014</li>
    <li>1e Kerstdag 2014 - donderdag 25 december 2014</li>
    <li>2e Kerstdag 2014 - vrijdag 26 december 2014</li>
    <li>Oudejaarsdag 2014 - woensdag 31 december 2014</li>
  </ul>
  <p>Een feestdag vergeten? Stuur een tip naar <a href="mailto:tips@datkanikzelf.nl">tips@datkanikzelf.nl</a>.</p>
  <p>Zie ook:</p>
  <ul>
    <li><a href="/handig/feestdagen/2013/">Feestdagen overzicht 2013</a></li>
    <li><a href="/handig/feestdagen/2012/">Feestdagen overzicht 2012</a></li>
    <li><a href="/handig/feestdagen/2011/">Feestdagen overzicht 2011</a></li>
    <li><a href="/handig/feestdagen/2010/">Feestdagen overzicht 2010</a></li>
    <li><a href="/handig/feestdagen/2009/">Feestdagen overzicht 2009</a></li>
    <li><a href="/handig/feestdagen/2008/">Feestdagen overzicht 2008</a></li>
  </ul>
</Page>
