---
import Page from '../../../../layouts/Page.astro';
---

<Page
  title="Wie zijn Hoops en Yoyo?"
>
    <strong>Hoops &amp; Yoyo</strong> zijn twee geanimeerde karakters uit de collectie
      <strong>wenskaartjes</strong> van <strong>Hallmark</strong>. Het verhaal draait om deze twee hoofdpersonen: <strong>Hoops</strong> (een roze kat) en <strong>Yoyo</strong>
      (een groen konijn). Af en toe komen er andere grappige karakters voorbij. Deze
      karakters zijn bedacht door Bob Holt en Mike Adair.<br />
      <br />
      Zie onderstaand introducutiefilmpje van <strong>Hoops and Yoyo</strong>:<br />
      <br />
      <iframe width="560" height="315" src="https://www.youtube.com/embed/qmNP94SRbNE" title="Hoops and Yoyo introductie" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <br />
      <br />
      Wil je weten hoe je een digitaal kaartje van <strong>Hoops &amp; Yoyo</strong> kan verstuuren, lees dan <a href="/articles/2007/09/verjaardagskaartje_versturen/">
      Een verjaardagskaartje versturen</a>. De meeste kaartjes stuur je geheel gratis!<br />
      <br />
      <br />
      <h2>De personages uitgelegd:</h2>
      <br />
      <ul>
        <li class="entrytext"><strong>Hoops</strong> - De meer emotionele van de twee. Hoops is een roze kat die de neiging heeft
        om te schreeuwen zodra hij praat. Hij heeft een hekel aan maandag zoals te zien
        is in het kaartje "Het is maandag". Ook was hij de eerste die te zien was in een
        kaartje (oorspronkelijk met een iets hogere toon stem). Hij blijft in vorm door
        dans-offs met Yoyo. Hij houdt van koffie, donuts, lachen, gebak, ijs, pizza en dinsdag.
        Hij zegt dat zijn slechtste gewoonte "veel praten" is en heeft een hekel aan bijna
        alles wat te maken heeft met zijn werk.<br /><br /></li>

        <li class="entrytext"><strong>Yoyo</strong> - In tegenstelling tot Hoops os Yoyo, de groene bunny, iets meer speels en
        energiek, met een minder al te gevoelige persoonlijkheid. Hij lijkt ook daadwerkelijk
        te genieten van zijn huidige baan. Hij houdt van lollipops, die Hoops vaak verborgen
        houdt. Yoyo's eerste kaartverschijning is in "Deze dag ... je verjaardag!" Zijn
        favoriete hobby is zingen. Hij blijft in vorm door shakin 'groove. Hij houdt van
        dezelfde dingen als Hoops.<br /><br /></li>
        <li class="entrytext"><strong>Piddles</strong> - Een blauw muis (omschreven als "critter") met een hoge stem die dol is
        op zingen. Zij heeft nog altijd de hoop om op een dag "opera zangeres" te worden.
        Ze spreekt vloeiend Spaans. Haar eerste kaartverschijning is in "de zomer leuk".</li></ul>
        <br />
        Kan je ook geen genoeg krijgen van deze twee? <a href="/articles/2007/09/verjaardagskaartje_versturen/">
        Stuur een digitaal wenskaartje</a> van <strong>Hoops &amp; YoYo</strong> of bezoek
      de offici&#235;le website(www.hoopsandyoyo.co.uk).<br />
      <br />
      Voor de leuk zie je hieronder nog een leuk filmpje van deze twee funny characters:<br />
      <br />
      <iframe width="560" height="315" src="https://www.youtube.com/embed/6XxbW-OYy8Q" title="Hoops and Yoyo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       <br />
      <br />


</Page>
