---
import Page from '../../../../../layouts/Page.astro';
---
<Page title="Handig zoeken">
  <h2>Handig zoeken</h2>
  <coming-soon></coming-soon>
</Page>
<script>
  import '../../../../../components/lit/ComingSoon.js';
</script>
