---
import Page from '../../../../../layouts/Page.astro';
---
<Page title="Online Foto Kladblok">
  <h2>Online Foto Kladblok</h2>
  <coming-soon></coming-soon>
</Page>
<script>
  import '../../../../../components/lit/ComingSoon.js';
</script>
