---
import Page from '../../../../layouts/Page.astro';
---
<Page title="Feestdagen 2011">
  <h2>Feestdagen overzicht 2011</h2>
  <p>Koningsdag, carnaval, moederdag: mis dit jaar geen enkele feestdag! Hier vind je een <strong>overzicht</strong> van alle <strong>feestdagen van 2011</strong></p>
  <h3>Feestdagen van 2011</h3>
  <ul>
    <li>Nieuwjaarsdag 2011 - zaterdag 1 januari 2011</li>
    <li>Valentijnsdag 2011 - maandag 14 februari 2011</li>
    <li>Carnaval 2011 - zondag 6 maart 2011</li>
    <li>Goede vrijdag 2011 - vrijdag 22 april 2011</li>
    <li>1e Paasdag 2011 - zondag 24 april 2011</li>
    <li>2e Paasdag 2011 - maandag 25 april 2011</li>
    <li>Koninginnedag 2011 - zaterdag 30 april 2011</li>
    <li>Bevrijdingsdag 2011 - woensdag 5 mei 2011</li>
    <li>Moederdag 2011 - zondag 8 mei 2011</li>
    <li>Hemelvaartsdag 2011 - donderdag 2 juni 2011</li>
    <li>1e Pinksterdag 2011 - zondag 12 juni 2011</li>
    <li>2e Pinksterdag 2011 - maandag 13 juni 2011</li>
    <li>Vaderdag 2011 - zondag 19 juni 2011</li>
    <li>Dierendag 2011 - dinsdag 4 oktober 2011</li>
    <li>Sint Maarten 2011 - vrijdag 11 november 2011</li>
    <li>Sinterklaas 2011 - maandag 5 december 2011</li>
    <li>1e Kerstdag 2011 - zondag 25 december 2011</li>
    <li>2e Kerstdag 2011 - maandag 26 december 2011</li>
    <li>Oudejaarsdag 2011 - zaterdag 31 december 2011</li>
  </ul>
  <p>Een feestdag vergeten? Stuur een tip naar <a href="mailto:tips@datkanikzelf.nl">tips@datkanikzelf.nl</a>.</p>
  <p>Zie ook:</p>
  <ul>
    <li><a href="/handig/feestdagen/2010/">Feestdagen overzicht 2010</a></li>
    <li><a href="/handig/feestdagen/2009/">Feestdagen overzicht 2009</a></li>
    <li><a href="/handig/feestdagen/2008/">Feestdagen overzicht 2008</a></li>
  </ul>
</Page>
