@use 'breakpoints' as *;

body {
  background-color: var(--color-document-bg);
  color: var(--theme-text-light);

  font-family: var(--font-body);
  font-size: 1rem;
  font-size: clamp(0.875rem, 0.4626rem + 1.0309vw + var(--user-font-scale), 1.125rem);
  line-height: 1.625;
}

@include bp(md) {
  .wrapper {
    margin-top: 20px;
    border: solid 1px var(--color-primary);
  }

  .main {
    padding-right: 2em;
  }
}

img {
  border: solid 1px #e0e0e0;
}
