@use 'breakpoints' as *;

.wrapper {
  display: flex;
  flex-flow: row wrap;

  max-width: 900px;
  margin: 0 auto;
  background: var(--color-bg);
}

.wrapper > * {
  flex: 1 100%;
}

.main {
  padding: 1em;
  overflow: hidden;
}

/* Medium screens */
@include bp(sm) {
  .aside {
    flex: 1 0 0;
  }
}

/* Large screens */
@include bp(md) {
  .main {
    flex: 3 0px;
  }
  .aside-1 {
    order: 1;
  }
  .main {
    order: 2;
  }
  .aside-2 {
    order: 3;
  }
  .footer {
    order: 4;
  }
}

.aside-2 {
  display: none;
}
