---
import Page from '../../../../../layouts/Page.astro';
---
<Page title="Lijstje sorteren">
  <h2>Lijstje sorteren</h2>
  <coming-soon></coming-soon>
</Page>
<script>
  import '../../../../../components/lit/ComingSoon.js';
</script>
