---
import Page from '../../../../layouts/Page.astro';
---
<Page title="Feestdagen 2021">
  <h2>Feestdagen overzicht 2021</h2>
  <p>Koningsdag, carnaval, moederdag: mis dit jaar geen enkele feestdag! Hier vind je een <strong>overzicht</strong> van alle <strong>feestdagen van 2021</strong></p>
  <h3>Feestdagen van 2021</h3>
  <ul>
    <li>Nieuwjaarsdag 2021 - vrijdag 1 januari 2021</li>
    <li>Valentijnsdag 2021 - zondag 14 februari 2021</li>
    <li>Carnaval 2021 - zondag 14 februari 2021</li>
    <li>Goede vrijdag 2021 - vrijdag 2 april 2021</li>
    <li>1e Paasdag 2021 - zondag 4 april 2021</li>
    <li>2e Paasdag 2021 - maandag 5 april 2021</li>
    <li>Koningsdag 2021 - dinsdag 27 april 2021</li>
    <li>Bevrijdingsdag 2021 - woensdag 5 mei 2021</li>
    <li>Moederdag 2021 - zondag 9 mei 2021</li>
    <li>Hemelvaartsdag 2021 - donderdag 13 mei 2021</li>
    <li>1e Pinksterdag 2021 - zondag 23 mei 2021</li>
    <li>2e Pinksterdag 2021 - maandag 24 mei 2021</li>
    <li>Vaderdag 2021 - zondag 20 juni 2021</li>
    <li>Prinsjesdag 2021 - dinsdag 21 september 2021</li>
    <li>Dierendag 2021 - maandag 4 oktober 2021</li>
    <li>Sint Maarten 2021 - donderdag 11 november 2021</li>
    <li>Sinterklaas 2021 - zondag 5 december 2021</li>
    <li>Eerste Kerstdag 2021 - zaterdag 25 december 2021</li>
    <li>Tweede Kerstdag 2021 - zondag 26 december 2021</li>
    <li>Oudejaarsdag 2021 - vrijdag 31 december 2021</li>
  </ul>
  <p>Een feestdag vergeten? Stuur een tip naar <a href="mailto:tips@datkanikzelf.nl">tips@datkanikzelf.nl</a>.</p>
  <p>Zie ook:</p>
  <ul>
    <li><a href="/handig/feestdagen/2020/">Feestdagen overzicht 2020</a></li>
    <li><a href="/handig/feestdagen/2019/">Feestdagen overzicht 2019</a></li>
    <li><a href="/handig/feestdagen/2018/">Feestdagen overzicht 2018</a></li>
    <li><a href="/handig/feestdagen/2017/">Feestdagen overzicht 2017</a></li>
    <li><a href="/handig/feestdagen/2016/">Feestdagen overzicht 2016</a></li>
  </ul>
</Page>
