---
import site from '../data/site.json';

interface ISiteMeta {
  name: string;
  page: {
    title: string;
    description: string;
    keywords: string;
  };
}

const meta: ISiteMeta = site;

interface Props {
  pageTitle?: string;
  pageDescription?: string;
  pageKeywords?: string;
}
const { pageTitle, pageDescription, pageKeywords } = Astro.props;

const page = {
  title: pageTitle ?? meta.page.title,
  description: pageDescription ?? meta.page.description,
  keywords: pageKeywords,
};
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Primary Meta Tags -->
<title>{page.title}</title>
<meta name="title" content={page.title} />
<meta name="description" content={page.description} />
{pageKeywords && <meta name="keywords" content={page.keywords} />}

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:wght@400;700&display=swap" />

<!-- Global site tag (gtag.js) - Google Analytics -->
<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=UA-1675989-1"></script>
<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-1675989-1');
</script>

<!-- Google AdSense -->
<script is:inline async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9166294348244212"
     crossorigin="anonymous"></script>
