<div class="container">
  <div class="page-title">Dat Kan Ik Zelf . nl</div>
  <div class="page-subtitle">De doe-het-zelf website voor slimme mensen &trade;</div>
</div>

<style>

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 6em;
  text-align: center;
  background: linear-gradient(to bottom, var(--color-primary) 0%, var(--color-secondary) 100%);
  color: var(--color-white);
}

.page-title {
  font-size: 2.0rem;
  font-weight: 900;
}

.page-subtitle {
  font-size: 1.0rem;
  font-weight: 600;
}

@media all and (min-width: 600px) {
  .container {
    min-height: 110px;
  }

  .page-title {
    font-size: 3.2rem;
    letter-spacing: 0.2rem;
  }

  .page-subtitle {
    padding-bottom: 0.4rem;
    font-size: 1.4rem;
  }
}

</style>
