---
import AdSenseSidebar from './ads/AdSenseSidebar.astro';
---
<div class="container">

  <section>
    <ul class="social">
      <li><a href="https://www.datkanikzelf.nl/feed.xml" title="Meld je aan voor de RSS Feed"><img src="/assets/plugins/rss.png" alt="RSS Feed" height="32px" width="32px" style="border:0" /></a></li>
      <li><a href="https://twitter.com/datkanikzelf" title="Volg DatKanIkZelf.nl op Twitter"><img src="/assets/plugins/twitter.png" alt="Twitter" height="32px" width="32px" style="border:0" /></a></li>
      <li><a href="https://www.facebook.com/datkanikzelf" title="Volg DatKanIkZelf.nl op Facebook"><img src="/assets/plugins/facebook.png" alt="Facebook" height="32px" width="32px" style="border:0" /></a></li>
      <li><a href="https://plus.google.com/+DatKanIkZelfNL" title="Volg DatKanIkZelf.nl op Google+"><img src="/assets/plugins/google-plus.png" alt="Google Plus" height="32px" width="32px" style="border:0" /></a></li>
    </ul>
  </section>

  <section class="search-widget">
    <search-widget></search-widget>
    <script>
      import '../components/lit/SearchWidget.js';
    </script>
  </section>

  <section>
    <h2>Beste van DatKanIkZelf.nl</h2>
    <ul>
      <li><a href="/articles/2007/03/emailadres-aanmaken/" title="Maak een GRATIS e-mailadres aan bij Hotmail of Gmail!">Een e-mailadres maken</a></li>
      <li><a href="/artikelen/2024/11/genereer-je-eigen-podcast-met-notebooklm/" title="Genereer je eigen podcast automatisch met NotebookLM">Genereer je eigen podcast</a></li>
      <li><a href="/artikelen/2008/10/juiste-baan-vinden-via-internet/" title="Vacatures zoeken via Internet">Vacatures zoeken op het Internet</a></li>
      <li><a href="/articles/2007/09/msn-messenger-emoticons/" title="Exporteer je MSN emoticons van de ene PC naar de andere.">MSN emoticons exporteren</a></li>
      <li><a href="/articles/2007/09/verjaardagskaartje-versturen/" title="Verstuur gratis een verjaardagskaart of andere wenskaart via Hallmark.com.">Verjaardagskaartje versturen</a></li>
      <li><a href="/articles/2007/12/hoe-bestel-ik-mijn-boeken-online/" title="Bestel je boeken snel en gemakkelijk online.">Online boeken bestellen</a></li>
      <li><a href="/artikelen/2007/12/hoe-registreer-ik-een-domeinnaam/" title="Leer hoe je een eigen domeinnaam kan registreren.">Eigen domein registreren</a></li>
      <li><a href="/artikelen/2008/03/hoe-maak-ik-gratis-visitekaartjes/" title="Bestel gratis visitekaartjes bij Vistaprint.">Visitekaartjes maken</a></li>
      <li><a href="/artikelen/2008/03/start-je-eigen-parfumhandel/" title="Lees hoe je een eigen parfumhandel kan opzetten.">Eigen parfumhandel starten</a></li>
      <li><a href="/artikelen/2008/03/gratis-anoniem-telefoonnummer-aanvragen/" title="Vraag een gratis anoniem telefoonnummer aan.">Anoniem telefoonnummer aanvragen</a></li>
      <li><a href="/artikelen/2008/09/educatie-over-diamanten/" title="Educatie over diamanten">Educatie over diamanten</a></li>
      <li><a href="/artikelen/2009/05/leer-dansen-maak-choreografie/" title="Leer dansen en maak je eigen choreografie">Eigen choreografie maken</a></li>
      <li><a href="/artikelen/2009/09/recensie-leren-schrijven/" title="Leer een recensie schrijven">Je eigen recensie schrijven</a></li>
      <li><a href="/artikelen/2010/06/gitaar-leren-spelen-voor-beginners/" title="Leer jezelf gitaar spelen">Gitaarles voor beginners</a></li>
      <li><a href="/artikelen/2011/01/verdien-geld-met-je-website/" title="Verdien geld met je website of blog">Verdien geld met je blog of website</a></li>
      <li><a href="/artikelen/2011/10/beginnersgitaar-selecteren-en-kopen/" title="Wat mag een goede beginnersgitaar kosten?">Een beginnersgitaar kopen</a></li>
      <li><a href="/artikelen/2012/12/gezond-eten-en-afvallen/" title="Gezond eten en afvallen">Gezond eten en afvallen</a></li>
      <li><a href="/artikelen/2013/07/hoe-sollicitatiebrief-schrijven/" title="Hoe schrijf ik een overtuigende sollicitatiebrief?">Overtuigende sollicitatiebrief schrijven</a></li>
      <li><a href="/artikelen/2013/12/email-synchroniseren-met-gmail-en-imap/" title="Email synchroniseren met je telefoon, tablet en computer">Synchroniseer je email met je iPhone of Android</a></li>
      <li><a href="/artikelen/2015/01/persoonlijk-en-origineel-huwelijkscadeau/" title="Hoe maak je een persoonlijk huwelijkscadeau?">Maak een persoonlijk huwelijkscadeau</a></li>
    </ul>
  </section>

  <section>
    <AdSenseSidebar />
  </section>

  <section>
    <h2>Dat is handig</h2>
    <ul>
      <li><a href="/handig/2008/06/huidig_weeknummer/">Weeknummer uitrekenen</a></li>
      <li><a href="/handig/feestdagen/2022/">Feestdagen 2022</a></li>
      <li><a href="/handig/feestdagen/2021/">Feestdagen 2021</a></li>
      <li><a href="/handig/weeknummers/2022/">Jaar weeknummers 2022</a></li>
      <li><a href="/handig/weeknummers/2021/">Jaar weeknummers 2021</a></li>
      <li><a href="/handig/2008/04/handig-zoeken/">Handig zoeken</a></li>
      <li><a href="/handig/2008/11/tekst-naar-plaatje/">Tekst-naar-plaatje</a></li>
      <li><a href="/handig/2007/04/emailadres-filteren/">E-mailadres filteren</a></li>
      <li><a href="/handig/2007/04/internet-klembord/">Internet Klembord</a></li>
      <li><a href="/handig/2007/04/klikbare-link/">Klikbare link maken</a></li>
      <li><a href="/handig/2007/04/leeftijd-uitrekenen/">Leeftijd berekenen</a></li>
      <li><a href="/handig/2007/04/lijstje-sorteren/">Lijstje sorteren</a></li>
      <li><a href="/handig/2007/04/weekdag-bepalen/">Weekdag bepalen</a></li>
      <li><a href="/handig/2010/08/online-rss-feed-aanmaken/">RSS feed genereren</a></li>
      <li><a href="/handig/2010/09/twitter-apps-check/">Twitter Tools Check</a></li>
    </ul>
  </section>

  <section>
    <h2>Internet Marketing &amp; SEO</h2>
    <ul>
      <li><a href="/artikelen/2011/09/affiliate-marketing-voor-beginners/">Affiliate marketing voor beginners</a></li>
      <li><a href="/articles/2007/11/inkomende_links_ok_uitgaande_links_nee/">Links: Inkomende links OK, Uitgaande links NEE</a></li>
      <li><a href="/artikelen/2007/12/zoekmachineoptimalisatie_analyseer_je_concurrenten/">Zoekmachineoptimalisatie: analyseer je concurrenten</a></li>
      <li><a href="/artikelen/2007/12/wat_is_webmarketing_internet_marketing/">Wat is internet marketing</a></li>
      <li><a href="/artikelen/2007/12/waarom_zoekmachines_je_webpaginas_niet_begrijpen/">Waarom zoekmachines je webpagina's niet begrijpen</a></li>
      <li><a href="/artikelen/2007/04/het_kiezen_van_de_meest_effectieve_kleuren_voor_je_site_-_de_psychologie_van_kleur/">Het kiezen van de meest effectieve kleuren</a></li>
      <li><a href="/artikelen/2007/12/hoe_krijg_ik_een_nieuwe_website_hoog_in_de_zoekmachine/">Hoe krijg ik een nieuwe website hoog in de zoekmachine</a></li>
    </ul>
  </section>

  <section>
    <h2>Extra</h2>
    <ul>
      <li><a href="/informatie_over/hoops_and_yoyo/wie_zijn_hoops_en_yoyo/">Wie zijn Hoops &amp; Yoyo?</a></li>
    </ul>
  </section>

</div>


<style lang="scss">
  @use '../styles/breakpoints' as *;

  .container {
    padding: 1em;
    text-align: center;

    @include bp(md) {
      padding-top: 0;
      text-align: left;
    }
  }

  ul {
    list-style: none;
    padding: 0 0;
    margin:0;
  }

  li {
    list-style: none;
    line-height: 2em;
    font-size: 0.8em;

    @include bp(md) {
      line-height: inherit;
    }
  }

  section {
    margin: 20px 0 0 0;
    padding: 0;

    &.search-widget {
      margin-top: 8px;
    }
  }

  section:first-of-type {
    margin-top: 20px;
  }

  section h2 {
    font-size: 1.2em;

    @include bp(md) {
      font-size: 0.8em;
      text-wrap: break-word;
    }
  }

  .social {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    @include bp(md) {
      justify-content: flex-start;
    }
  }

  .social a {
    padding: 0.2em;
    display: block;
  }
</style>
