---
import Page from '../../../../layouts/Page.astro';
---
<Page title="Feestdagen 2019">
  <h2>Feestdagen overzicht 2019</h2>
  <p>Koningsdag, carnaval, moederdag: mis dit jaar geen enkele feestdag! Hier vind je een <strong>overzicht</strong> van alle <strong>feestdagen van 2019</strong></p>
  <h3>Feestdagen van 2019</h3>
  <ul>
    <li>Nieuwjaarsdag 2019 - dinsdag 1 januari 2019</li>
    <li>Valentijnsdag 2019 - donderdag 14 februari 2019</li>
    <li>Carnaval 2019 - zondag 3 maart 2019</li>
    <li>Goede vrijdag 2019 - vrijdag 19 april 2019</li>
    <li>1e Paasdag 2019 - zondag 21 april 2019</li>
    <li>2e Paasdag 2019 - maandag 22 april 2019</li>
    <li>Koningsdag 2019 - zaterdag 27 april 2019</li>
    <li>Bevrijdingsdag 2019 - zondag 5 mei 2019</li>
    <li>Moederdag 2019 - zondag 12 mei 2019</li>
    <li>Hemelvaartsdag 2019 - donderdag 30 mei 2019</li>
    <li>1e Pinksterdag 2019 - zondag 9 juni 2019</li>
    <li>2e Pinksterdag 2019 - maandag 10 juni 2019</li>
    <li>Vaderdag 2019 - zondag 16 juni 2019</li>
    <li>Prinsjesdag 2019 - dinsdag 17 september 2019</li>
    <li>Dierendag 2019 - vrijdag 4 oktober 2019</li>
    <li>Sint Maarten 2019 - maandag 11 november 2019</li>
    <li>Sinterklaas 2019 - donderdag 5 december 2019</li>
    <li>Eerste Kerstdag 2019 - woensdag 25 december 2019</li>
    <li>Tweede Kerstdag 2019 - donderdag 26 december 2019</li>
    <li>Oudejaarsdag 2019 - dinsdag 31 december 2019</li>
  </ul>
  <p>Een feestdag vergeten? Stuur een tip naar <a href="mailto:tips@datkanikzelf.nl">tips@datkanikzelf.nl</a>.</p>
  <p>Zie ook:</p>
  <ul>
    <li><a href="/handig/feestdagen/2018/">Feestdagen overzicht 2018</a></li>
    <li><a href="/handig/feestdagen/2017/">Feestdagen overzicht 2017</a></li>
    <li><a href="/handig/feestdagen/2016/">Feestdagen overzicht 2016</a></li>
    <li><a href="/handig/feestdagen/2015/">Feestdagen overzicht 2015</a></li>
    <li><a href="/handig/feestdagen/2014/">Feestdagen overzicht 2014</a></li>
    <li><a href="/handig/feestdagen/2013/">Feestdagen overzicht 2013</a></li>
    <li><a href="/handig/feestdagen/2012/">Feestdagen overzicht 2012</a></li>
    <li><a href="/handig/feestdagen/2011/">Feestdagen overzicht 2011</a></li>
    <li><a href="/handig/feestdagen/2010/">Feestdagen overzicht 2010</a></li>
  </ul>
</Page>
