---
import Page from '../../../../../layouts/Page.astro';
---
<Page title="Online RSS feed aanmaken">
  <h2>Online RSS feed aanmaken</h2>
  <coming-soon></coming-soon>
</Page>
<script>
  import '../../../../../components/lit/ComingSoon.js';
</script>
