---
import Page from '../../layouts/Page.astro';
---
<Page
  title = "Link naar ons"
  description = ""
>

  <section>
    <h1>Link naar ons</h1>
    <p>Link naar ons en laat het ons weten!</p>

    <h2>Hoe kan je dat doen?</h2>
    <br />
    <ol>
      <li><strong>Plaats een link</strong> op je website naar <a href="/">www.datkanikzelf.nl</a>.</li>
      <li>Vul onderstaand formulier in.</li>
    </ol>
  </section>

  <style>
    ol {
      padding-left: 0px;
    }
  </style>

</Page>
