---
import Page from '../../../../layouts/Page.astro';
---
<Page title="Feestdagen 2010">
  <h2>Feestdagen overzicht 2010</h2>
  <p>Koningsdag, carnaval, moederdag: mis dit jaar geen enkele feestdag! Hier vind je een <strong>overzicht</strong> van alle <strong>feestdagen van 2010</strong></p>
  <h3>Feestdagen van 2010</h3>
  <ul>
    <li>Nieuwjaarsdag 2010 - vrijdag 1 januari 2010</li>
    <li>Valentijnsdag 2010 - zondag 14 februari 2010</li>
    <li>Carnaval 2010 - zondag 14 februari 2010</li>
    <li>Goede vrijdag 2010 - vrijdag 2 april 2010</li>
    <li>1e Paasdag 2010 - zondag 4 april 2010</li>
    <li>2e Paasdag 2010 - maandag 5 april 2010</li>
    <li>Koninginnedag 2010 - vrijdag 30 april 2010</li>
    <li>Bevrijdingsdag 2010 - woensdag 5 mei 2010</li>
    <li>Moederdag 2010 - zondag 9 mei 2010</li>
    <li>Hemelvaartsdag 2010 - donderdag 13 mei 2010</li>
    <li>1e Pinksterdag 2010 - zondag 23 mei 2010</li>
    <li>2e Pinksterdag 2010 - maandag 24 mei 2010</li>
    <li>Vaderdag 2010 - zondag 20 juni 2010</li>
    <li>Dierendag 2010 - maandag 4 oktober 2010</li>
    <li>Sint Maarten 2010 - donderdag 11 november 2010</li>
    <li>Sinterklaas 2010 - zondag 5 december 2010</li>
    <li>1e Kerstdag 2010 - zaterdag 25 december 2010</li>
    <li>2e Kerstdag 2010 - zondag 26 december 2010</li>
    <li>Oudejaarsdag 2010 - vrijdag 31 december 2010</li>
  </ul>
  <p>Een feestdag vergeten? Stuur een tip naar <a href="mailto:tips@datkanikzelf.nl">tips@datkanikzelf.nl</a>.</p>
  <p>Zie ook:</p>
  <ul>
    <li><a href="/handig/feestdagen/2009/">Feestdagen overzicht 2009</a></li>
    <li><a href="/handig/feestdagen/2008/">Feestdagen overzicht 2008</a></li>
  </ul>
</Page>
