---
import Page from '../../../../layouts/Page.astro';
---
<Page title="Feestdagen 2009">
  <h2>Feestdagen overzicht 2009</h2>
  <p>Koningsdag, carnaval, moederdag: mis dit jaar geen enkele feestdag! Hier vind je een <strong>overzicht</strong> van alle <strong>feestdagen van 2009</strong></p>
  <h3>Feestdagen van 2009</h3>
  <ul>
    <li>Nieuwjaarsdag 2009 - donderdag 1 januari 2009</li>
    <li>Valentijnsdag 2009 - zaterdag 14 februari 2009</li>
    <li>Carnaval 2009 - zondag 22 februari 2009</li>
    <li>Goede vrijdag 2009 - vrijdag 10 april 2009</li>
    <li>1e Paasdag 2009 - zondag 12 april 2009</li>
    <li>2e Paasdag 2009 - maandag 13 april 2009</li>
    <li>Koninginnedag 2009 - donderdag 30 april 2009</li>
    <li>Bevrijdingsdag 2009 - dinsdag 5 mei 2009</li>
    <li>Moederdag 2009 - zondag 10 mei 2009</li>
    <li>Hemelvaartsdag 2009 - donderdag 21 mei 2009</li>
    <li>1e Pinksterdag 2009 - zondag 31 mei 2009</li>
    <li>2e Pinksterdag 2009 - maandag 1 juni 2009</li>
    <li>Vaderdag 2009 - zondag 21 juni 2009</li>
    <li>Dierendag 2009 - zondag 4 oktober 2009</li>
    <li>Sint Maarten 2009 - woensdag 11 november 2009</li>
    <li>Sinterklaas 2009 - zaterdag 5 december 2009</li>
    <li>Eerste Kerstdag 2009 - vrijdag 25 december 2009</li>
    <li>Tweede Kerstdag 2009 - zaterdag 26 december 2009</li>
    <li>Oudejaarsdag 2009 - donderdag 31 december 2009</li>
  </ul>
  <p>Een feestdag vergeten? Stuur een tip naar <a href="mailto:tips@datkanikzelf.nl">tips@datkanikzelf.nl</a>.</p>
  <p>Zie ook:</p>
  <ul>
    <li><a href="/handig/feestdagen/2008/">Feestdagen overzicht 2008</a></li>
  </ul>
</Page>
