---
import Page from '../../../../layouts/Page.astro';
---
<Page title="Feestdagen 2013">
  <h2>Feestdagen overzicht 2013</h2>
  <p>Koningsdag, carnaval, moederdag: mis dit jaar geen enkele feestdag! Hier vind je een <strong>overzicht</strong> van alle <strong>feestdagen van 2013</strong></p>
  <h3>Feestdagen van 2013</h3>
  <ul>
    <li>Nieuwjaarsdag 2013 - dinsdag 1 januari 2013</li>
    <li>Carnaval 2013 - zondag 10 februari 2013</li>
    <li>Valentijnsdag 2013 - donderdag 14 februari 2013</li>
    <li>Goede vrijdag 2013 - vrijdag 29 maart 2013</li>
    <li>1e Paasdag 2013 - zondag 31 maart 2013</li>
    <li>2e Paasdag 2013 - maandag 1 april 2013</li>
    <li>Koninginnedag 2013 - dinsdag 30 april 2013</li>
    <li>Bevrijdingsdag 2013 - zondag 5 mei 2013</li>
    <li>Hemelvaartsdag 2013 - donderdag 9 mei 2013</li>
    <li>Moederdag 2013 - zondag 12 mei 2013</li>
    <li>1e Pinksterdag 2013 - zondag 19 mei 2013</li>
    <li>2e Pinksterdag 2013 - maandag 20 mei 2013</li>
    <li>Vaderdag 2013 - zondag 16 juni 2013</li>
    <li>Dierendag 2013 - vrijdag 4 oktober 2013</li>
    <li>Sint Maarten 2013 - maandag 11 november 2013</li>
    <li>Sinterklaas 2013 - donderdag 5 december 2013</li>
    <li>1e Kerstdag 2013 - woensdag 25 december 2013</li>
    <li>2e Kerstdag 2013 - donderdag 26 december 2013</li>
    <li>Oudejaarsdag 2013 - dinsdag 31 december 2013</li>
  </ul>
  <p>Een feestdag vergeten? Stuur een tip naar <a href="mailto:tips@datkanikzelf.nl">tips@datkanikzelf.nl</a>.</p>
  <p>Zie ook:</p>
  <ul>
    <li><a href="/handig/feestdagen/2012/">Feestdagen overzicht 2012</a></li>
    <li><a href="/handig/feestdagen/2011/">Feestdagen overzicht 2011</a></li>
    <li><a href="/handig/feestdagen/2010/">Feestdagen overzicht 2010</a></li>
    <li><a href="/handig/feestdagen/2009/">Feestdagen overzicht 2009</a></li>
    <li><a href="/handig/feestdagen/2008/">Feestdagen overzicht 2008</a></li>
  </ul>
</Page>
