---
import Page from '../../../../../layouts/Page.astro';
---
<Page title="Klikbare link maken">
  <h2>Klikbare link maken</h2>
  <p>Maak snel een klikbare link aan. Voer de URL in en druk op Start.</p>
  <link-generator></link-generator>
</Page>
<script>
  import '../../../../../components/lit/LinkGenerator.js';
</script>
