---
import Page from '../../../../../layouts/Page.astro';
---
<Page title="Tekst naar afbeelding omzetter">
  <h2>Tekst naar afbeelding omzetter</h2>
  <p>Typ je tekst in en druk op Start om er een afbeelding van te maken.</p>
  <convert-text-to-image></convert-text-to-image>
</Page>
<script>
  import '../../../../../components/lit/ConvertTextToImage.js';
</script>
