---
import Page from '../../../../layouts/Page.astro';
---
<Page title="Feestdagen 2017">
  <h2>Feestdagen overzicht 2017</h2>
  <p>Koningsdag, carnaval, moederdag: mis dit jaar geen enkele feestdag! Hier vind je een <strong>overzicht</strong> van alle <strong>feestdagen van 2017</strong></p>
  <h3>Feestdagen van 2017</h3>
  <ul>
    <li>Nieuwjaarsdag 2017 - zondag 1 januari 2017</li>
    <li>Valentijnsdag 2017 - dinsdag 14 februari 2017</li>
    <li>Carnaval 2017 - zondag 26 februari 2017</li>
    <li>Goede vrijdag 2017 - vrijdag 14 april 2017</li>
    <li>1e Paasdag 2017 - zondag 16 april 2017</li>
    <li>2e Paasdag 2017 - maandag 17 april 2017</li>
    <li>Koningsdag 2017 - donderdag 27 april 2017</li>
    <li>Bevrijdingsdag 2017 - vrijdag 5 mei 2017</li>
    <li>Moederdag 2017 - zondag 14 mei 2017</li>
    <li>Hemelvaartsdag 2017 - donderdag 25 mei 2017</li>
    <li>1e Pinksterdag 2017 - zondag 4 juni 2017</li>
    <li>2e Pinksterdag 2017 - maandag 5 juni 2017</li>
    <li>Vaderdag 2017 - zondag 18 juni 2017</li>
    <li>Prinsjesdag 2017 - dinsdag 19 september 2017</li>
    <li>Dierendag 2017 - woensdag 4 oktober 2017</li>
    <li>Sint Maarten 2017 - zaterdag 11 november 2017</li>
    <li>Sinterklaas 2017 - dinsdag 5 december 2017</li>
    <li>Eerste Kerstdag 2017 - maandag 25 december 2017</li>
    <li>Tweede Kerstdag 2017 - dinsdag 26 december 2017</li>
    <li>Oudejaarsdag 2017 - zondag 31 december 2017</li>
  </ul>
  <p>Een feestdag vergeten? Stuur een tip naar <a href="mailto:tips@datkanikzelf.nl">tips@datkanikzelf.nl</a>.</p>
  <p>Zie ook:</p>
  <ul>
    <li><a href="/handig/feestdagen/2016/">Feestdagen overzicht 2016</a></li>
    <li><a href="/handig/feestdagen/2015/">Feestdagen overzicht 2015</a></li>
    <li><a href="/handig/feestdagen/2014/">Feestdagen overzicht 2014</a></li>
    <li><a href="/handig/feestdagen/2013/">Feestdagen overzicht 2013</a></li>
    <li><a href="/handig/feestdagen/2012/">Feestdagen overzicht 2012</a></li>
    <li><a href="/handig/feestdagen/2011/">Feestdagen overzicht 2011</a></li>
    <li><a href="/handig/feestdagen/2010/">Feestdagen overzicht 2010</a></li>
  </ul>
</Page>
