---
import Page from '../../../../layouts/Page.astro';
---
<Page title="Feestdagen 2020">
  <h2>Feestdagen overzicht 2020</h2>
  <p>Koningsdag, carnaval, moederdag: mis dit jaar geen enkele feestdag! Hier vind je een <strong>overzicht</strong> van alle <strong>feestdagen van 2020</strong></p>
  <h3>Feestdagen van 2020</h3>
  <ul>
    <li>Nieuwjaarsdag 2020 - woensdag 1 januari 2020</li>
    <li>Valentijnsdag 2020 - vrijdag 14 februari 2020</li>
    <li>Carnaval 2020 - zondag 23 februari 2020</li>
    <li>Goede vrijdag 2020 - vrijdag 10 april 2020</li>
    <li>1e Paasdag 2020 - zondag 12 april 2020</li>
    <li>2e Paasdag 2020 - maandag 13 april 2020</li>
    <li>Koningsdag 2020 - maandag 27 april 2020</li>
    <li>Bevrijdingsdag 2020 - dinsdag 5 mei 2020</li>
    <li>Moederdag 2020 - zondag 10 mei 2020</li>
    <li>Hemelvaartsdag 2020 - donderdag 21 mei 2020</li>
    <li>1e Pinksterdag 2020 - zondag 31 mei 2020</li>
    <li>2e Pinksterdag 2020 - maandag 1 juni 2020</li>
    <li>Vaderdag 2020 - zondag 21 juni 2020</li>
    <li>Prinsjesdag 2020 - dinsdag 15 september 2020</li>
    <li>Dierendag 2020 - zondag 4 oktober 2020</li>
    <li>Sint Maarten 2020 - woensdag 11 november 2020</li>
    <li>Sinterklaas 2020 - zaterdag 5 december 2020</li>
    <li>Eerste Kerstdag 2020 - vrijdag 25 december 2020</li>
    <li>Tweede Kerstdag 2020 - zaterdag 26 december 2020</li>
    <li>Oudejaarsdag 2020 - donderdag 31 december 2020</li>
  </ul>
  <p>Een feestdag vergeten? Stuur een tip naar <a href="mailto:tips@datkanikzelf.nl">tips@datkanikzelf.nl</a>.</p>
  <p>Zie ook:</p>
  <ul>
    <li><a href="/handig/feestdagen/2019/">Feestdagen overzicht 2019</a></li>
    <li><a href="/handig/feestdagen/2018/">Feestdagen overzicht 2018</a></li>
    <li><a href="/handig/feestdagen/2017/">Feestdagen overzicht 2017</a></li>
    <li><a href="/handig/feestdagen/2016/">Feestdagen overzicht 2016</a></li>
    <li><a href="/handig/feestdagen/2015/">Feestdagen overzicht 2015</a></li>
  </ul>
</Page>
